@charset "UTF-8";
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  /* outline: 1px solid blue; */
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .section {
    /*автоматом и tablet*/
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.product {
  padding-top: 0px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .product {
    display: none;
  }
}

.list {
  list-style: none;
}

body {
  background-color: #ffffff;
}

.banner {
  background-color: #2f303a;
}

.service {
  background-color: #ffffff;
}

.product {
  background-color: #ffffff;
}

.team {
  background-color: #f5f4fa;
}

.client-section {
  background-color: #e5e5e5;
}

footer {
  background-color: #2f303a;
}

.portfolio {
  background-color: #ffffff;
}

/*--------------------------------BODY------------------------*/
body {
  color: #212121;
  font-family: Roboto, sans-serif;
}

p {
  color: #757575;
}

/*-------------------------------HEADER--------------------------*/
@media screen and (min-width: 480px) {
  .menu-list {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
  }
}

@media screen and (min-width: 480px) {
  .cont-list {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
  }
}

.list.navigator {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .list.navigator.header-cont {
    font-size: 12px;
    line-height: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .list.navigator.header-cont {
    font-size: 14px;
    line-height: 16px;
  }
}

/*--------------------------------BANNER------------------------*/
.banner-name {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .banner-name {
    font-size: 26px;
    line-height: 42px;
  }
}

@media screen and (min-width: 1200px) {
  .banner-name {
    font-size: 44px;
    line-height: 60px;
  }
}

.banner-button {
  color: #ffffff;
  background-color: #2196f3;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
}

/*--------------------------------------SERVICE---------------------------*/
.service-title,
.product-name {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0px;
}

@media screen and (min-width: 480px) {
  .service-title,
  .product-name {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .service-title,
  .product-name {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .service-title,
  .product-name {
    /*+ tablet*/
    text-align: left;
  }
}

.service-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin: 0px;
  margin-top: 10px;
}

.product-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

/*------------------------------------TEAM----------------------*/
.team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 50px;
}

.team-name,
.team-text {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0px;
}

.team-name {
  margin-top: 30px;
  margin-bottom: 10px;
}

.team-text {
  font-weight: normal;
}

/*------------------------------------CLIENT------------------------*/
.client-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 50px;
}

/*-----------------------------------FOOTER------------------------*/
.address {
  font-style: inherit;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.address-text {
  color: #ffffff;
}

.address-email,
.address-tel {
  color: rgba(255, 255, 255, 0.6);
}

.footer-logo {
  color: #ffffff;
}

.social-connect {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0px;
  margin-top: 12px;
  /* background-color: rebeccapurple; */
}

/*----------------------------------------PROJECT-------------------------------*/
.project-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  margin-top: 20px;
}

.project-desc {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  margin-top: 4px;
}

.project-name,
.project-desc {
  margin: 0px;
  margin-left: 24px;
}

/*----------------------------------------Button-list---------------------------*/
.item-button {
  color: #212121;
  background-color: #f5f4fa;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border-radius: 4px;
  border-width: 0px;
  border-color: transparent;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.item-button:hover,
.item-button:focus {
  color: #e5e5e5;
  background-color: #2196f3;
}

/*----------------------------------------PROJECT--------------------------------*/
.project-photo {
  position: relative;
  overflow: hidden;
}

.project-article {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px 63px 24px;
  margin: 0px;
  position: absolute;
  opacity: 0;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-photo:hover .project-article {
  opacity: 1;
  transform: translateY(-294px);
}

.header {
  border-bottom: 1px solid #ececec;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 480px) {
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

/*.decor {
  border-bottom: 1px solid #ececec;
}*/
.header-nav .item {
  position: relative;
}

@media screen and (min-width: 768px) {
  .link-nav.current::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    transform: translateY(35px);
    background-color: #2196f3;
  }
}

@media screen and (min-width: 1200px) {
  .link-nav.current::after {
    transform: translateY(34px);
  }
}

/* ------------------------------                               ГЕОМЕТРИЯ */
.header-flex {
  align-items: center;
}

@media screen and (min-width: 768px) {
  .header-flex {
    display: flex;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 480px) {
  .nav {
    justify-content: space-between;
    padding-right: 8px;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    justify-content: flex-start;
    padding-right: 0px;
  }
}

/* .header-logo { 
   background-color: blue;
}
*/
.header-nav {
  /* background-color: red; */
  padding-left: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header-nav {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-nav {
    margin-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header-nav {
    margin-left: 93px;
  }
}

.header-nav .item:not(:first-child) {
  margin-left: 50px;
}

.header-cont {
  /* background-color: yellow; */
  padding-left: 0px;
  margin: 0px;
  align-items: center;
  margin-right: 0;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .header-cont {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-cont {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .header-cont {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .header-cont .item:first-child {
    margin-right: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .header-cont .item:first-child {
    margin-right: 50px;
  }
}

.link-nav {
  color: inherit;
}

.link-email,
.link-tel {
  color: #757575;
  /* background-color: yellowgreen; */
}

@media screen and (min-width: 768px) {
  .link-email {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .link-email {
    margin-bottom: 0px;
  }
}

.link-nav,
.link-email,
.link-tel {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-nav:hover,
.link-nav:focus,
.link-email:hover,
.link-email:focus,
.link-tel:hover,
.link-tel:focus {
  color: #2196f3;
}

.icon-email:hover,
.icon-email:focus,
.icon-tel:hover,
.icon-tel:focus {
  fill: #2196f3;
}

.link-nav.current {
  color: #2196f3;
}

.data-menu {
  display: none;
}

.menu-button {
  border: none;
  background-color: transparent;
  padding: 0px;
  margin-top: auto;
  margin-bottom: auto;
  width: 24px;
  height: 16px;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button.is-open .icon-cross:hover,
.menu-button.is-open .icon-cross:focus {
  fill: #2196f3;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-button .icon-menu {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button .icon-menu:hover,
.menu-button .icon-menu:focus {
  fill: #2196f3;
}

.data-menu.is-open .menu-button {
  border: none;
  background-color: transparent;
  padding: 0px;
  margin-top: auto;
  margin-bottom: auto;
}

.data-menu.is-open {
  display: block;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  border-top: 1px solid #ececec;
  height: 373px;
  position: absolute;
  /*будет сверху контента*/
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  z-index: 99;
}

@media screen and (min-width: 768px) {
  .data-menu.is-open {
    display: none;
  }
}

@media screen and (min-width: 480px) {
  .icon-open {
    width: 24px;
    height: 16px;
  }
}

.menu-list,
.cont-list {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.menu-list {
  margin-bottom: 60px;
}

.menu-list .item:nth-child(-n + 2) {
  padding-bottom: 40px;
}

.cont-list .item:first-child {
  padding-bottom: 16px;
}

.menu-list .item {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

@media screen and (min-width: 480px) {
  .link-nav.current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    margin-top: 8px;
    background-color: #2196f3;
  }
}

/*------------------------Задний фон----------------------------*/
.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 2600px;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 100;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%) scale(0.1);
}

/*---------------------- ОКНО --------------------------------*/
.modal {
  position: absolute;
  top: 141px;
  left: 50%;
  right: 50%;
  width: 528px;
  height: 581px;
  padding: 8px 8px 40px 40px;
  transform: translate(-50%) scale(1);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.button-cross {
  display: block;
  width: 30px;
  height: 30px;
  padding: 0px;
  margin: 0px;
  margin-left: auto;
  margin-right: 0px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-cross:hover,
.button-cross:focus {
  fill: #2196f3;
}

.form {
  margin-right: 32px;
}

.form-list {
  margin: 0px;
  padding: 0px;
}

.form-item {
  position: relative;
}

.form-input {
  width: 100%;
  height: 40px;
  padding: 0px;
  padding-left: 42px;
  margin: 0px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
}

.form-item:focus-within {
  fill: #2196f3;
}

.form-input:focus {
  border: 1px solid #2196f3;
  outline: none;
}

.form-textarea {
  padding: 0px;
  margin: 0px;
  padding: 12px 16px;
  width: 100%;
  height: 116px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
}

.form-textarea:focus {
  border: 1px solid #2196f3;
  outline: none;
}

.form-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  padding: 0px;
  margin: 0px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.form-label {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 4px;
}

.form-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  position: absolute;
  transform: translateY(-50%);
  top: 48px;
  left: 15px;
  padding: 0px;
  margin: 0px;
}

.form-label.text {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  padding-left: 13px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.checkbox {
  /*Прячим стандартный чекбокс*/
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.icon-check {
  display: inline-block;
  width: 16px;
  height: 15px;
  vertical-align: text-top;
  margin-right: 7px;
  border-width: 2px;
  border-style: solid;
  border-radius: 2px;
  border-color: #212121;
}

.checkbox:checked + .icon-check {
  background-color: #2196f3;
  border-radius: 2px;
  border-width: 0px;
  border-color: #2196f3;
  background-image: url(../img/icon/check.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.banner-button.send {
  display: block;
  box-sizing: border-box;
  border-width: 0px;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
}

/*-----------------------------------HEADER----------------------*/
.icon-link.email {
  color: #2196f3;
  display: inline-block;
}

@media screen and (max-width: 767px) {
  .icon-link.email {
    width: 16px;
    height: 11px;
    margin-right: 10px;
  }
}

@media screen and (min-width: 768px) {
  .icon-link.email {
    width: 14px;
    height: 10px;
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .icon-link.email {
    width: 16px;
    height: 12px;
    margin-right: 10px;
  }
}

.icon-link.tel {
  color: #2196f3;
  display: inline-block;
}

@media screen and (max-width: 767px) {
  .icon-link.tel {
    width: 10px;
    height: 15px;
    margin-right: 10px;
  }
}

@media screen and (min-width: 768px) {
  .icon-link.tel {
    width: 10px;
    height: 14px;
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .icon-link.tel {
    width: 10px;
    height: 16px;
    margin-right: 10px;
  }
}

.link-email,
.link-tel {
  display: inline-flex;
  justify-content: center;
}

.link-email .icon-email,
.link-tel .icon-tel {
  fill: #757575;
  /* background-color: violet; */
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-email:hover .icon-email,
.link-tel:hover .icon-tel {
  fill: currentColor;
}

.banner {
  padding-top: 50px;
  padding-bottom: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /*!!!!!!!!!*/
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/mobile-img-480@1x.jpg);
  /*!!!!!!!!!*/
}

@media screen and (min-width: 480px) {
  .banner {
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/mobile-img-480@1x.jpg);
    background-size: contain;
    /*!!!!!!!!!*/
  }
}

@media screen and (min-width: 768px) {
  .banner {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/tablet-img-768@1x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .banner {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/desktop-img-1600@1x.jpg);
    background-size: cover;
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .banner {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/mobile-img-480@2x.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 480px), screen and (min-resolution: 192dpi) and (min-width: 480px), screen and (min-resolution: 2dppx) and (min-width: 480px) {
  .banner {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/mobile-img-480@2x.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .banner {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/tablet-img-768@2x.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .banner {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/desktop-img-1600@2x.jpg);
    background-size: cover;
  }
}

/* -----------------------------------                            ГЕОМЕТРИЯ */
.banner .container {
  text-align: center;
}

.banner-name {
  margin: 0px;
}

.banner-button {
  display: inline-block;
  box-sizing: border-box;
  border-width: 0px;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  margin-top: 30px;
}

/* -----------------------------------                            ГЕОМЕТРИЯ */
.service-flex {
  padding: 0px;
  margin: 0px;
  margin-left: -30px;
}

@media screen and (min-width: 768px) {
  .service-flex {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .service-flex {
    display: flex;
  }
}

.service-item {
  margin-left: 30px;
}

@media screen and (min-width: 768px) {
  .service-item {
    flex-basis: calc(100% / 2 - 30px);
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .service-item {
    flex-basis: calc(100% / 4 - 30px);
  }
}

@media screen and (min-width: 480px) {
  .service-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.service-item::before {
  content: "";
  display: block;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.service-item:nth-child(1)::before {
  background-image: url(../img/logo/antena.svg);
}

.service-item:nth-child(2)::before {
  background-image: url(../img/logo/clock.svg);
}

.service-item:nth-child(3)::before {
  background-image: url(../img/logo/monitor.svg);
}

.service-item:nth-child(4)::before {
  background-image: url(../img/logo/spaceman.svg);
}

.product-title {
  margin-top: 0px;
  margin-bottom: 50px;
}

.product-list {
  display: flex;
  /*background-color: lawngreen; */
  padding: 0px;
  margin: 0px;
  margin-left: -30px;
  /*Для функции - CALC*/
}

.product-photo {
  /*margin-bottom: 94px;*/
  margin-left: 30px;
  /*Для функции - CALC*/
  flex-basis: calc(100% / 3 - 30px);
  /*Для функции - CALC*/
}

.product-box {
  position: relative;
  /* display: inline-flex; */
}

.product-name {
  background-color: rgba(47, 48, 58, 0.8);
  margin: 0px;
  text-align: center;
  color: #ffffff;
  padding-top: 27px;
  padding-bottom: 27px;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.team-flex {
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 0px;
}

@media screen and (min-width: 768px) {
  .team-flex {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-flex {
    display: flex;
    margin-left: -30px;
    /*Для функции - CALC*/
  }
}

.team-photo {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  display: inline-block;
  padding-bottom: 24px;
  flex-basis: 100%;
}

@media screen and (min-width: 768px) {
  .team-photo {
    margin-left: 30px;
    flex-basis: calc(100% / 2 - 30px);
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-photo {
    margin-left: 30px;
    flex-basis: calc(100% / 4 - 30px);
    padding-bottom: 30px;
  }
}

.team-photo:not(:last-child) {
  margin-bottom: 30px;
}

.team-photo:nth-child(n + 3) {
  /*Перебили выше специфичность у телефона 30 рх
  что бы правильно отображалась последняя карточка*/
}

@media screen and (min-width: 768px) {
  .team-photo:nth-child(n + 3) {
    margin-bottom: 0px;
  }
}

.team-photo:nth-child(n + 1) {
  /*Перебили выше специфичность у телефона 30 рх
  что бы правильно отображалась последняя карточка*/
}

@media screen and (min-width: 1200px) {
  .team-photo:nth-child(n + 1) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 480px) {
  .team-picture {
    width: 450px;
    height: 460px;
  }
}

@media screen and (min-width: 768px) {
  .team-picture {
    width: 354px;
    height: 374px;
  }
}

@media screen and (min-width: 1200px) {
  .team-picture {
    width: 270px;
    height: 260px;
  }
}

.social-list {
  display: flex;
  /* background-color: hotpink; */
  margin: 0px;
  padding: 0px;
  margin-top: 16px;
  /* margin-left: 27px; */
  justify-content: center;
}

.social-item {
  margin-right: 5px;
  margin-left: 5px;
  flex-basis: calc(100% / 4 - 40px);
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  display: flex;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social-link:hover,
.social-link:focus {
  color: #ffffff;
  background-color: #2196f3;
  /* border-width: none; */
  /* border-style: solid; */
  border-radius: 50%;
}

.client-list {
  margin: 0px;
  padding: 0px;
  margin-left: -30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (min-width: 480px) {
  .client-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .client-list {
    display: flex;
    flex-wrap: nowrap;
  }
}

.client-item {
  margin-left: 30px;
}

@media screen and (max-width: 480px) {
  .client-item {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .client-item {
    margin-left: 30px;
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 768px) {
  .client-item {
    margin-left: 30px;
    flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .client-item {
    flex-basis: calc(100% / 4 - 0px);
  }
}

@media screen and (min-width: 480px) {
  .client-item:nth-child(-n + 4) {
    margin-bottom: 30px;
  }
}

.client-item:nth-child(n + 4) {
  /*Перебили выше специфичность у телефона 30 рх
  что бы правильно отображалась последняя карточка*/
}

@media screen and (min-width: 768px) {
  .client-item:nth-child(n + 4) {
    margin-bottom: 0px;
  }
}

.client-item:nth-child(n + 1) {
  /*Перебили выше специфичность у телефона 30 рх
  что бы правильно отображалась последняя карточка*/
}

@media screen and (min-width: 1200px) {
  .client-item:nth-child(n + 1) {
    margin-bottom: 0px;
  }
}

.client-link {
  color: #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: greenyellow; */
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .client-link {
    width: 210px;
    height: 90px;
  }
}

@media screen and (min-width: 768px) {
  .client-link {
    width: 226px;
    height: 90px;
  }
}

@media screen and (min-width: 1200px) {
  .client-link {
    width: 170px;
    height: 90px;
  }
}

.client-link:hover,
.client-link:focus {
  color: #2196f3;
  border-color: #2196f3;
}

.client-icon {
  fill: currentColor;
}

/*.social-list.black {
  @include mobile {
    justify-content: center;
  }

  @include tablet {
    justify-content: center;
  }
  @include desktop {
    justify-content: center;
  }
}*/
.social-link.black {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-style: hidden;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item.black:not(:last-child) {
  margin-right: 10px;
}

.social-item.black {
  margin-left: 0px;
}

.social-item.black:last-child {
  margin-right: 0px;
}

.social-link.black:hover,
.social-link.black:focus {
  /* color: #ffffff; */
  background-color: #2196f3;
  border: none;
  border-style: hidden;
  border-radius: 50%;
}

/* --------------------------------------                         ГЕОМЕТРИЯ */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 480px) {
  .footer-flexbox {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .footer-flexbox {
    display: flex;
    padding-left: 61px;
    padding-right: 74px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-flexbox {
    display: flex;
    padding-left: 15px;
    padding-right: 0px;
  }
}

.footer-box {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-box {
    text-align: left;
  }
}

.footer-box + .footer-box {
  /*@media screen and (max-width: 479px) {
    margin-bottom: 30px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
  }*/
}

@media screen and (max-width: 767px) {
  .footer-box + .footer-box {
    margin-left: 0px;
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer-box + .footer-box {
    margin-left: 165px;
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-box + .footer-box {
    margin-left: 70px;
  }
}

.social-connect + .social-list {
  margin-left: 0px;
  margin-top: 20px;
  padding: 0px;
}

@media screen and (max-width: 767px) {
  .social-list.black {
    padding-left: 122px;
    padding-right: 122px;
  }
}

.footer-logo {
  display: inline-flex;
  margin-bottom: 20px;
  /* background-color: darkgoldenrod; */
}

.footer-flex {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  /* background-color: darkgreen; */
}

.address-text {
  margin: 0px;
}

.address-email,
.address-tel {
  padding-top: 9px;
}

/*-----------------Подпишись на нас------------*/
.subscribe-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0px;
  /* background-color: rebeccapurple; */
}

.subscribe-box {
  background-color: yellowgreen;
}

.button-flex {
  display: flex;
  margin: 0px;
  padding: 0px;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .button-flex {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .button-flex {
    justify-content: center;
    margin-bottom: 50px;
  }
}

.button-flex .item:nth-child(-n + 3) {
  margin-right: 8px;
  margin-bottom: 15px;
}

.button-flex .item:nth-child(4) {
  margin-right: 8px;
}

.button-flex .item:nth-child(n + 1) {
  /*Перебили выше специфичность у телефона 15 рх + desktop*/
}

@media screen and (min-width: 768px) {
  .button-flex .item:nth-child(n + 1) {
    margin-bottom: 0px;
  }
}

.project-flex {
  /* background-color: red; */
  margin: 0px;
  padding: 0px;
  margin-left: -30px;
}

@media screen and (min-width: 768px) {
  .project-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .project-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.photo {
  margin-left: auto;
  margin-right: auto;
}

.project-title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.project-flex .item {
  margin-left: 30px;
  /*Для калькуляции*/
  border: 1px solid #eeeeee;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .project-flex .item {
    flex-basis: calc(100% / 2 - 30px);
    /*Для калькуляции*/
  }
}

@media screen and (min-width: 1200px) {
  .project-flex .item {
    flex-basis: calc(100% / 3 - 30px);
    /*Для калькуляции*/
  }
}

.project-flex .item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 480px) {
  .project-flex .item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .project-flex .item:nth-child(n + 7) {
    margin-bottom: 0px;
  }
}

.header-logo,
.footer-logo {
  font-family: Raleway, sans-serif;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 480px) {
  .header-logo,
  .footer-logo {
    font-size: 24px;
    line-height: 28px;
  }
}

@media screen and (min-width: 1200px) {
  .header-logo,
  .footer-logo {
    font-size: 26px;
    line-height: 31px;
  }
}

.header-logo {
  color: #212121;
}

.icon-link {
  color: #2196f3;
  display: inline-block;
}
/*# sourceMappingURL=main.css.map */