html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  /* outline: 1px solid blue; */
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.product {
  padding-top: 0px;
  padding-bottom: 94px;
}

.list {
  list-style: none;
}
