/*--------------------------------BODY------------------------*/
body {
  color: $main-text-color;
  font-family: Roboto, sans-serif;
}

p {
  color: $secondary-text-color;
}

/*--------------------------------BANNER------------------------*/

.banner-name {
  color: #ffffff;

  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.banner-button {
  color: #ffffff;
  background-color: $accent-text-color;

  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
}

/*--------------------------------------SERVICE---------------------------*/
.service-title,
.product-name {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin: 0px;

  @include mobile {
    text-align: center;
  }

  @include tablet {
    text-align: left;
  }

  @include desktop {
    /*+ tablet*/
    text-align: left;
  }
}

.service-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin: 0px;
  margin-top: 10px;
}

.product-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

/*------------------------------------TEAM----------------------*/

.team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  margin-top: 0px;
  margin-bottom: 50px;
}

.team-name,
.team-text {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;

  margin: 0px;
}

.team-name {
  margin-top: 30px;
  margin-bottom: 10px;
}

.team-text {
  font-weight: normal;
}

/*------------------------------------CLIENT------------------------*/

.client-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  margin-top: 0px;
  margin-bottom: 50px;
}

/*-----------------------------------FOOTER------------------------*/

.address {
  font-style: inherit;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.address-text {
  color: #ffffff;
}

.address-email,
.address-tel {
  color: rgba(255, 255, 255, 0.6);
}

.footer-logo {
  color: #ffffff;
}

.social-connect {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;

  margin: 0px;
  margin-top: 12px;
  /* background-color: rebeccapurple; */
}

/*----------------------------------------PROJECT-------------------------------*/

.project-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;

  margin-top: 20px;
}

.project-desc {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;

  margin-top: 4px;
}

.project-name,
.project-desc {
  margin: 0px;
  margin-left: 24px;
}
