

.header {
  padding-top: 25px;
  padding-bottom: 25px;

  border-bottom: 1px solid #ececec;
}

.icon-link {
  color: $accent-text-color;
}

.header-logo {
  color: #212121;
}

/*.decor {
  border-bottom: 1px solid #ececec;
}*/

.link-nav {
  color: inherit;
}

.link-email,
.link-tel {
  color: $secondary-text-color;
  /* background-color: yellowgreen; */
}

.link-nav,
.link-email,
.link-tel {
  transition-property: $accent-text-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-nav:hover,
.link-nav:focus,
.link-email:hover,
.link-email:focus,
.link-tel:hover,
.link-tel:focus {
  color: $accent-text-color;
}

.icon-email:hover,
.icon-email:focus,
.icon-tel:hover,
.icon-tel:focus {
  fill: $accent-text-color;
}

.link-nav.current {
  color: $accent-text-color;
}

.header-nav .item {
  position: relative;
}

.link-nav.current::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 4px;
  border-radius: 2px;

  position: absolute;
  bottom: 0px;
  left: 0px;
  transform: translateY(32px);

  background-color: $accent-text-color;
}

.list.navigator {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.link-email,
.link-tel {
  display: inline-flex;
  justify-content: center;
}

.link-email .icon-email,
.link-tel .icon-tel {
  margin-right: 10px;

  fill: $secondary-text-color;
  /* background-color: violet; */

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-email:hover .icon-email,
.link-tel:hover .icon-tel {
  fill: currentColor;
}

/* ------------------------------                               ГЕОМЕТРИЯ */

.header-flex {
  display: flex;
  /*height: 80px;*/
  align-items: center;
}

.nav {
  display: flex;
}

/* .header-logo { 
   background-color: blue;
}
*/

.header-nav {
  /* background-color: red; */
  padding-left: 0px;
  margin: 0px;
  display: flex;
  align-items: center;

  margin-left: 93px;
}
.header-nav .item:not(:first-child) {
  margin-left: 50px;
}

.header-cont {
  /* background-color: yellow; */
  padding-left: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
  margin-right: 0; /*!!!!!!!!!!!!!!!!!!!!!*/ /* justify-content: flex-end; */
  margin-left: auto;
}
.header-cont .item:first-child {
  margin-right: 50px;
}
