.header {
  border-bottom: 1px solid #ececec;

  @include mobile {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  @include tablet {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  @include desktop {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

/*.decor {
  border-bottom: 1px solid #ececec;
}*/

.header-nav .item {
  position: relative;
}

.link-nav.current::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 4px;
  border-radius: 2px;

  position: absolute;
  bottom: 0px;
  left: 0px;
  transform: translateY(32px);

  background-color: $accent-text-color;
}

.link-email,
.link-tel {
  display: inline-flex;
  justify-content: center;
}

.link-email .icon-email,
.link-tel .icon-tel {
  margin-right: 10px;

  fill: $secondary-text-color;
  /* background-color: violet; */

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-email:hover .icon-email,
.link-tel:hover .icon-tel {
  fill: currentColor;
}

/* ------------------------------                               ГЕОМЕТРИЯ */

.header-flex {
  display: flex;
  /*height: 80px;*/
  align-items: center;
}

.nav {
  display: flex;
}

/* .header-logo { 
   background-color: blue;
}
*/

.header-nav {
  /* background-color: red; */
  padding-left: 0px;
  margin: 0px;
  display: flex;
  align-items: center;

  @include tablet {
    margin-left: 88px;
  }

  @include desktop {
    margin-left: 93px;
  }
}

.header-nav .item:not(:first-child) {
  margin-left: 50px;
}

.header-cont {
  /* background-color: yellow; */
  padding-left: 0px;
  margin: 0px;
  // display: flex;
  align-items: center;
  margin-right: 0;
  margin-left: auto;

  @include tablet {
    display: block;
  }

  @include desktop {
    display: flex;
  }
}
.header-cont .item:first-child {
  @include tablet {
    margin-right: 0px;
  }

  @include desktop {
    margin-right: 50px;
  }
}
